<%- include header.ejs %>
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<div class="container mt-2 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4>Write a New Blog</h4>
                </div>
                <div class="card-body">
                    <form action="/createblog" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" style="text-transform: capitalize;" required>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Body</label>
                            <textarea type="text" class="form-control" id="body" name="body" rows="10"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Upload Image</label>
                            <input type="file" class="form-control" id="image" name="file" required>
                        </div>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" required> I have verified the Content and do not violate any terms and conditions.
                        </label>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    Your Blogs
                </div>
                <div class="card-bod pt-3 pl-2 pr-2 pb-3">
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Published On</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <% if(blogs.length>0){ blogs.forEach(blog=>{ %>
                        <tbody>
                            <tr>
                                <td><a href="/blog/<%= blog._id %>"><%= blog.title %></a></td>
                                <td><%=moment(blog.date).format('DD-MMM-YYYY') %></td>
                                <td><a href="/blog/delete/<%= blog._id %>"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                        <% })} %>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>CKEDITOR.replace('body');</script>
<%- include footer.ejs %>