<%- include header.ejs %>
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>

<div class="container mt-2 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4>Post a new Job/Internship</h4>
                </div>
                <div class="card-body">
                    <form action="/createjob" method="POST">
                        <div class="mb-3">
                            <label for="type">Type of Opportunity</label>
                            <select name="type" class="form-select">
                                <option value="JOB">JOB</option>
                                <option value="INTERNSHIP">INTERNSHIP</option>
                            </select>
                        </div>
                        <input type="hidden" value="<%= username %>" />
                        <div class="mb-3">
                            <label for="category">Category</label>
                            <select name="category" class="form-select">
                                <option value="Software Engineering">Software Engineering</option>
                                <option value="Digital Marketing">Digital Marekting</option>
                                <option value="Human Resources">Human Resources</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" rows="10"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="organisation" class="form-label">Organisation/Company Name</label>
                            <input type="text" class="form-control" id="organisation" name="organisation" required>
                        </div>
                        <div class="mb-3">
                            <label for="applylink" class="form-label">Apply Link</label>
                            <input type="text" class="form-control" id="applylink" name="applylink" required>
                        </div>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" required> I have verified my JOB/INTERNSHIP.
                        </label>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    Jobs/Internships posted by You
                </div>
                <div class="card-bod pt-3 pl-2 pr-2 pb-3">
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Published On</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <% if(jobs.length>0){ jobs.forEach(job=>{ %>
                        <tbody>
                            <tr>
                                <td><a href="/opportunity/<%= job._id %>"><%= job.title %></a></td>
                                <td><%= job.type %></td>
                                <td><%=moment(job.date).format('DD-MMM-YYYY') %></td>
                                <td><a href="/opportunities/delete/<%= job._id %>"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                        <% })} %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>CKEDITOR.replace('description');</script>

<%- include footer.ejs %>