<%- include header.ejs %>

<head>
    <link rel="stylesheet" href="/public/stylesheets/blogs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<div class="container blog-wrapper">

    <div class="inspire-heading">
        <h1>Get Inspired</h1>
        <a class="btn btn-secondary main-button" href="/users/blogs" role="button">Write a Blog</a>
    </div>

    <% if(blogs.length>0){ blogs.forEach(blog=>{ %>
    <div class="row justify-content-center gapping">
        <div class="col-sm-8 ">

            <div class="card card-cus">
                <a href="/blog/<%=blog._id %>">
                    <div class="card-body">
                        <h4 style="text-transform: capitalize;"><%= blog.title %></h4>
                        <p class="card-text blocklines ">
                            <%- blog.body.slice(0,700) %>
                        </p>
                        <input type="hidden" name="id" value="<%= blog._id %>" />
                        <div class="like ">
                            <h6 class="text-muted post gapping">posted by <%=blog.username %> on <%=moment(blog.date).format('DD-MMM-YYYY') %></h6>
                            <!-- <i class="fa fa-heart likeicon gapping" aria-hidden="true"><%=blog.likes %></i> -->
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <% })} %>



</div>
<%- include footer.ejs %>