<%- include header.ejs %>

<head>
    <link rel="stylesheet" href="/public/stylesheets/blog.css">
</head>
<div class="container singleblog-wrapper">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <img src="/public/blogs/<%= blog.image %>" />

                    <h2 class="mt-4"><%= blog.title %></h2>
                    <div class="card-subtitle">
                    <a style="text-decoration:none;" href="/users/<%= blog.username%>">
                        <h6><%= blog.username%></h6>
                    </a>
                        <h6><%=moment(blog.date).format('DD-MMM-YYYY') %></h6>
                    </div>
                    <div class="card-text mt-4">
                        <p>

                            <%- blog.body %>



                        </p>
                    </div>

                    <!-- <i class="fa fa-share" aria-hidden="true"></i>

                    <i class="far fa-heart buttom-icon" aria-hidden="true"><%= blog.likes %></i> -->


                </div>
            </div>
        </div>
    </div>
</div>


<%- include footer.ejs %>