<%- include header.ejs %>

<head>
    <link rel="stylesheet" href="/public/stylesheets/blogs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<% if(blogs.length>0){ blogs.forEach(blog=>{ %>
<div class="container blog-wrapper">

    <div class="inspire-heading">
        <h1>Get Inspired</h1>
        <a class="btn btn-secondary" href="#" role="button">Write a Blog</a>
      </div>


    <div class="row justify-content-center gapping">
        <div class="col-sm-8 ">
            <div class="card card-cus">
                <div class="card-body">
                    <a href="/blogs/<%=blog._id %>" class="card-title"><%= blog.title %></h4>
                        <a href="./blog.ejs">
                            <p class="card-text blocklines " title="click to read full blog">
                                <%- blog.body %>
                            </p>
                        </a>
                        <input type="hidden" name="id" value="<%= blog._id %>" />
                        <div class="like ">
                            <h6 class="text-muted post gapping">posted by-<%=blog.username %></h6>
                            <i class="fa fa-heart likeicon gapping" aria-hidden="true">5</i>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <% })} %>



</div>
<%- include footer.ejs %>