<%- include header.ejs %>

<head>
    <link rel="stylesheet" href="/public/stylesheets/blog.css">
</head>
<div class="container singleblog-wrapper">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">

                        <h3><%= blog.title %></h3>

                    </div>
                    <div class="card-subtitle">
                        <a class="btn" href="#">
                            <h5>

                                <%= blog.username%>

                            </h5>
                            <h5>
                                22aug, 2019
                            </h5>
                        </a>

                        <i class="fa fa-share" aria-hidden="true"></i>
                        <i class="far fa-heart" aria-hidden="true">5</i>
                        <!-- use class fa fa-heart for solid filled heart -->

                    </div>
                    <div class="card-text">
                        <p>

                            <%- blog.body %>



                        </p>
                    </div>

                    <i class="fa fa-share" aria-hidden="true"></i>

                    <i class="far fa-heart buttom-icon" aria-hidden="true"><%= blog.likes %></i>


                </div>
            </div>
        </div>
    </div>
</div>


<%- include footer.ejs %>