<%- include header.ejs %>
<link rel="stylesheet" href="/public/stylesheets/index_inspire.css">

<div class="container">
  <div class="row contests-heading justify-content-center mt-5 mb-5">
        <div class= "col-sm-12">
            <h1>Contests</h1>
        </div>
  </div>
  <div class="row">
    <% if(contests.length>0){ contests.forEach(contest=>{ %>
    <div class="col-lg-6">
      <div class="contest-card">
        <h2 style="text-transform:capitalize"><%- contest.title%></h2>
        <p><%- contest.summary.slice(0,200)%></p>
        <p><a class="btn btn-secondary main-button" href="/contest/<%= contest._id %>" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <% })} %>




  </div>
</div>

<%- include footer.ejs %>