<%- include header.ejs %>

<%- include banner.ejs %>
<link rel="stylesheet" href="/public/stylesheets/index_inspire.css">
  <div class="container marketing">
  
    <!-- Three columns of text below the carousel -->
    <div class="inspire-heading">
      <h2>Opportunities</h2>
      <a class="btn btn-secondary main-button " href="/opportunities" role="button">View All &raquo;</a>
    </div>

    <div class="row">
      
      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- jobs[0].title%></h2>
          <p><%- jobs[0].description%></p>
          <p><a class="btn btn-secondary main-button " href="/opportunity/<%- jobs[0]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- jobs[1].title%></h2>
          <p><%- jobs[1].description%></p>
          <p><a class="btn btn-secondary main-button " href="/opportunity/<%- jobs[1]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- jobs[2].title%></h2>
          <p><%- jobs[2].description%></p>
          <p><a class="btn btn-secondary main-button " href="/opportunity/<%- jobs[2]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


    <div class="inspire-heading">
      <h2>Get Inspired</h2>
      <a class="btn btn-secondary main-button" href="/blogs" role="button">View All &raquo;</a>
    </div>

    <div class="row opportunities-card">

        <div class="col-md-5 order-md-2">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
            width="300" height="300" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 500x500" 
            preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
  
        </div>

        <div class="col-md-7 order-md-1">
          <h2 class="featurette-heading"><%- blogs[0].title%></h2>
          <p class="lead par-oppotunities"><%- blogs[0].body%></p>
          <p><a class="btn btn-secondary main-button" href="/blog/<%= blogs[0]._id%>" role="button">Read More</a></p>
        
        </div>
       
      </div>

      <div class="row opportunities-card">

        <div class="col-md-5 order-md-2">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
            width="300" height="300" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 500x500" 
            preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
  
        </div>

        <div class="col-md-7 order-md-1">
          <h2 class="featurette-heading"><%- blogs[1].title%></h2>
          <p class="lead par-oppotunities"><%- blogs[1].body%></p>
          <p><a class="btn btn-secondary main-button" href="/blog/<%= blogs[1]._id%>" role="button">Read More</a></p>
        
        </div>
       
      </div>

      <div class="row opportunities-card">

        <div class="col-md-5 order-md-2">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
            width="300" height="300" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 500x500" 
            preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
  
        </div>

        <div class="col-md-7 order-md-1">
          <h2 class="featurette-heading"><%- blogs[2].title%></h2>
          <p class="lead par-oppotunities"><%- blogs[2].body%></p>
          <p><a class="btn btn-secondary main-button" href="/blog/<%= blogs[2]._id%>" role="button">Read More</a></p>
        
        </div>
       
      </div>


    <div class="inspire-heading">
      <h2>Contests</h2>
      <a class="btn btn-secondary main-button" href="#" role="button">View All &raquo;</a>
    </div>

    <div class="row mb-5">
      
      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- contests[0].title%></h2>
          <p><%- contests[0].summary%></p>
          <p><a class="btn btn-secondary main-button" href="/contest/<%- contests[0]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- contests[1].title%></h2>
          <p><%- contests[1].summary%></p>
          <p><a class="btn btn-secondary main-button" href="/contest/<%- contests[1]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- contests[2].title%></h2>
          <p><%- contests[2].summary%></p>
          <p><a class="btn btn-secondary main-button" href="/contest/<%- contests[2]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>

        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

<%- include footer.ejs %>