<%- include header.ejs %>

<%- include banner.ejs %>
<style>
  @media only screen and (max-width: 600px) {
  img {
    width: 27vh;
    height: 27vh;
  }
}
</style>
<link rel="stylesheet" href="/public/stylesheets/index_inspire.css">
  <div class="container marketing">
  
    <!-- Three columns of text below the carousel -->
    <div class="inspire-heading">
      <h2>Opportunities</h2>
      <a class="btn btn-secondary main-button " href="/opportunities" role="button">View All &raquo;</a>
    </div>

    <div class="row">
      
      <div class="col-lg-4"> 
        <div class="contest-card">
          <h2><%- jobs[0].title.slice(0,30)%></h2>
          <p><%- jobs[0].description.slice(0,200)%></p>
          <p><a class="btn btn-secondary main-button " href="/opportunity/<%- jobs[0]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- jobs[1].title.slice(0,30)%></h2>
          <p><%- jobs[1].description.slice(0,200)%></p>
          <p><a class="btn btn-secondary main-button " href="/opportunity/<%- jobs[1]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- jobs[2].title.slice(0,30)%></h2>
          <p><%- jobs[2].description.slice(0,200)%></p>
          <p><a class="btn btn-secondary main-button " href="/opportunity/<%- jobs[2]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


    <div class="inspire-heading">
      <h2>Get Inspired</h2>
      <a class="btn btn-secondary main-button" href="/blogs" role="button">View All &raquo;</a>
    </div>

    <div class="row opportunities-card">

        <div class="col-md-4 order-md-2">
          <img src="/public/blogs/<%= blogs[0].image %>" alt="<%- blogs[0].title%>" style="border-radius: 10px;" width="380" height="300">
        </div>

        <div class="col-md-8 order-md-1">
          <h2 class="featurette-heading"><%- blogs[0].title.slice(0,100)%></h2>
          <p class="lead par-oppotunities"><%- blogs[0].body.slice(0,250)%></p>
          <p><a class="btn btn-secondary main-button" href="/blog/<%= blogs[0]._id%>" role="button">Read More</a></p>
        
        </div>
       
      </div>

      <div class="row opportunities-card">

        <div class="col-md-4 order-md-2">
          <img src="/public/blogs/<%= blogs[1].image %>" alt="<%- blogs[1].title%>" style="border-radius: 10px;" width="380" height="300">
        </div>

        <div class="col-md-8 order-md-1">
          <h2 class="featurette-heading"><%- blogs[1].title.slice(0,100)%></h2>
          <p class="lead par-oppotunities"><%- blogs[1].body.slice(0,250)%></p>
          <p><a class="btn btn-secondary main-button" href="/blog/<%= blogs[1]._id%>" role="button">Read More</a></p>
        
        </div>
       
      </div>

      <div class="row opportunities-card">

        <div class="col-md-4 order-md-2">
          <img src="/public/blogs/<%= blogs[2].image %>" alt="<%- blogs[2].title%>" style="border-radius: 10px;" width="380" height="300">
        </div>

        <div class="col-md-8 order-md-1">
          <h2 class="featurette-heading"><%- blogs[2].title.slice(0,100)%></h2>
          <p class="lead par-oppotunities"><%- blogs[2].body.slice(0,250)%></p>
          <p><a class="btn btn-secondary main-button" href="/blog/<%= blogs[2]._id%>" role="button">Read More</a></p>
        
        </div>
       
      </div>


    <div class="inspire-heading">
      <h2>Contests</h2>
      <a class="btn btn-secondary main-button" href="/contests" role="button">View All &raquo;</a>
    </div>

    <div class="row mb-5">
      
      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- contests[0].title.slice(0,30)%></h2>
          <p><%- contests[0].summary.slice(0,200)%></p>
          <p><a class="btn btn-secondary main-button" href="/contest/<%- contests[0]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- contests[1].title.slice(0,30)%></h2>
          <p><%- contests[1].summary.slice(0,200)%></p>
          <p><a class="btn btn-secondary main-button" href="/contest/<%- contests[1]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contest-card">
          <h2><%- contests[2].title.slice(0,30)%></h2>
          <p><%- contests[2].summary.slice(0,200)%></p>
          <p><a class="btn btn-secondary main-button" href="/contest/<%- contests[2]._id%>" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>

        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

<%- include footer.ejs %>