<%- include header.ejs %>

<head>
    <link rel="stylesheet" href="/public/stylesheets/opportunities.css">
</head>
<div class="container-fluid internship-wrapper">

    <div class="row opportunities-heading justify-content-center mt-5 mb-5">
        <div class= "col-sm-10">
            <h1>Opportunities and Internships</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10 ">
            <div class="card cbno">
                <div class="card-body">
                    <div class="card-subtitle">
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light opty-nav-wrapper">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <h3 style="float: right;"
                                    class="d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
                                    womenhub</h3>
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-button-wrapper">
                                        <li class="nav-item ">
                                            <a class="nav-link active" href="/jobs/01">
                                                <input type="button" class="navbtn"  value="Software Engineer">  
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/jobs/02">
                                                <input type="button" class="navbtn"  value="Digital Marketing">  
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/jobs/03">
                                                <input type="button" class="navbtn"  value="H R ">  
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <% if(jobs.length>0){ jobs.forEach(job=>{ %>
                    <div class="card-text">
                        <div class="row justify-content-center">
                            <div class="col-sm-7">
                                <div class="card opty-cards-proto">
                                    <div class="card-body">
                                        <div class="" style="text-transform: capitalize;">
                                            <h4><%= job.title %></h4>
                                        </div>

                                        <div class="card-subtitle">
                                            <h5 class="for-space"><%= job.company %></h5>
                                        </div>

                                        <div class="card-subtitle">
                                            <h5><%= job.type %></h5>
                                        </div>

                                        <div class="card-subtitle for-space">
                                            <h6 class="text-muted post gapping">posted by <%=job.username %> on <%=moment(job.date).format('DD-MMM-YYYY') %></h6>
                                        </div>

                                        <div class="row justify-content-center view-button">
                                            <div class="col-12">
                                                <a href="/opportunity/<%= job._id %>"><button type="button"
                                                        class="btn">View
                                                        details</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <%})}%>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>